body{
  background-color: gray  ;
}
.subscribe-button{
  background-color: rgb(204, 0, 0);
  color:white;
  border:none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:2px ;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;

}
.subscribe-button:hover{
  opacity: 0.8;
}
.subscribe-button:active{
  opacity: 0.4;
}
.join-button {
  background-color: white;
  border-color: rgb(42, 131, 225);
  border-style: solid;
  border-width: 2px;
  color:rgb(42, 131, 225);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s,
   color 0.15s;
   vertical-align: top;
} 
.join-button:hover{
  background-color: rgb(42, 131, 225);
  color:white;
}
.join-button:active{
  opacity: 0.7;
}
.tweet-button{
  background-color: rgb(2, 158, 255);
  color :white;
  border: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}


.btn-40,
.btn-40 *,
.btn-40 :after,
.btn-40 :before,
.btn-40:after,
.btn-40:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-40 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-40:disabled {
  cursor: default;
}
.btn-40:-moz-focusring {
  outline: auto;
}
.btn-40 svg {
  display: block;
  vertical-align: middle;
}
.btn-40 [hidden] {
  display: none;
}
.btn-40 {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 2rem 5rem;
  position: relative;
  text-transform: uppercase;
}
.btn-40 .new,
.btn-40 .old {
  transition: transform 0.2s;
}
.btn-40 .old {
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
}
.btn-40:hover .old {
  transform: translateY(100%);
}
.btn-40 .new {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  pointer-events: none;
  position: absolute;
  transform: translateX(-100%);
}
.btn-40:hover .new {
  transform: translateX(0);
}
.btn-26,
.btn-26 *,
.btn-26 :after,
.btn-26 :before,
.btn-26:after,
.btn-26:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-26 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-26:disabled {
  cursor: default;
}
.btn-26:-moz-focusring {
  outline: auto;
}
.btn-26 svg {
  display: block;
  vertical-align: middle;
}
.btn-26 [hidden] {
  display: none;
}
.btn-26 {
  background: none;
  -webkit-mask-image: none;
  padding: 1rem 3rem;
  position: relative;
}
.btn-26 span {
  mix-blend-mode: difference;
}
.btn-26:after,
.btn-26:before {
  --progress: 0%;
  background: #fff;
  -webkit-clip-path: polygon(
    0 50%,
    var(--progress) 0,
    100% 0,
    calc(100% - var(--progress)) 50%,
    100% 100%,
    var(--progress) 100%
  );
  clip-path: polygon(
    0 50%,
    var(--progress) 0,
    100% 0,
    calc(100% - var(--progress)) 50%,
    100% 100%,
    var(--progress) 100%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.4s, transform 0.4s, -webkit-clip-path 0.4s 0.1s;
  transition: height 0.4s, transform 0.4s, clip-path 0.4s 0.1s;
  transition: height 0.4s, transform 0.4s, clip-path 0.4s 0.1s,
    -webkit-clip-path 0.4s 0.1s;
  width: 100%;
  z-index: -1;
}
.btn-26:after {
  transform: rotate(180deg) translateY(50%);
}
.btn-26:hover:before {
  --progress: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(35%);
}
.btn-26:hover:after {
  --progress: 50%;
  top: 50%;
  transform: rotate(180deg) translateY(50%) translateX(35%);
}
