.header{
background-color: blueviolet;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-left: 15px;
padding-right: 15px;
}
.home{
font-family: arial;
color: white;
font-weight: bold;
}
.text-box{
height: 30px;
border: none;
width: 500px;
padding-left: 20px;
margin-top: 12px;
margin-bottom: 12px;
border-radius: 30px;
 }
.download{
  background-color: blueviolet;
  color: white;
  font-family: arial;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;

}