.header{
  display: flex;
  position: fixed;
  background-color: white;
  top: 10px;
  left: 30px;
  right: 30px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.cat{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}
.left{
  display: flex;
  align-items: center;
 
}
.name{
  font-family: arial;
  font-weight: bold;
  padding-left: 10px;
}
.right{
  display: flex;
}
.add{
  background-color: rgb(42, 131, 225);
  color: white;
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  border: none;
  margin-right: 10px;
}
.mess{
  background-color: rgb(220, 220, 220);
  color: black;
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  border: none;
  margin-right: 10px;
}