.left{
  background-color: black;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}
.pic{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 10px;
}
.middle{

  background-color:rgb(54, 53, 53);
  position: fixed;
  top: 0;
  left: 70px;
  bottom  : 0;

  width: 150px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.name{
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
  color:white;
}
.plus{
  color: rgb(150, 150, 150);
  font-size: 25px;
}

.channel{
  color: rgb(150, 150, 150);
  margin-bottom: 15px;
}